# Ignore the other init files in $ZDOTDIR
/zsh/.zprofile
/zsh/.zlogin
/zsh/.zlogout

# Don't track rc scripts ending in '.local.zsh'
/zsh/zshrc.d/*.local.zsh

# Downloaded content
/vim/colors/herald.vim
/vim/pack/editing/start/tcomment_vim-4.00
/vim/pack/editing/start/vim-repeat-1.2
/vim/pack/editing/start/vim-surround-2.2
